<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}
</style>  
<title>Chat realtime</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
</head>
<!-- AngularJS -->

<!-- Firebase -->

<!-- AngularFire -->

    <body ng-app="app" class="ng-scope">
        <h1>Firebase chatbox real time</h1>
 
        <div ng-controller="chatCtrl" class="ng-scope">
            <div id="chatBox" style="padding: 10px; border: black 1px solid">
                <h1>Chat box</h1>
                <div ng-repeat="chatMessage in chatMessages | limitTo:-15"> <span style="font-weight: bold">{{chatMessage.name}}</span> : <span>{{chatMessage.message}}</span>
				</div>
            </div>
               
            <form class="ng-pristine ng-valid ng-binding">
                Name: hanh <br>
                Chat: <input type="text" ng-model="chatMes" class="ng-pristine ng-valid ng-touched"> <button type="submit" ng-click="sendChat()">Send</button>
            </form>
        </div>
    

    <script>
        var app = angular.module('app', ['firebase']);
        app.controller('chatCtrl', ['$scope', '$firebase', function($scope, $firebase) {
            var name = prompt("Enter your name: ", '');
            var previousChat = '';
            $scope.name = name;
            $scope.chatMessage = "";

            var ref = new Firebase("https://amber-torch-2590.firebaseio.com/");
            var sync = $firebase(ref);
            $scope.chatMessages = sync.$asArray();
			
            $scope.sendChat = function () {
            	if($scope.chatMes == previousChat || $scope.chatMes.length == 0) return;
            	
                var chatMessage = { name: name, message: $scope.chatMes };
                $scope.chatMessages.$add(chatMessage);
                previousChat = $scope.chatMes;
                $scope.chatMes = "";
            }
          
            $scope.clear = function() {
                for (var i = 0; i < $scope.chatMessages.length; i++) {
                    $scope.chatMessages.$remove($scope.chatMessages[i]);
                }
            }
        }]);
    </script>

</body></html>